<!DOCTYPE html>

{% load staticfiles %} <!-- required to import static files -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango</title>
</head>
<body>
    <h1>Rango says...</h1>
    {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
    <strong>There are no categories to display.</strong>
    {% endif %}

    <a href="/rango/about/">About</a><br><br>
    <img src="{% static "images/hunter.jpg" %}" alt="Picture of a lizard on Hunter S. Thompsons's car" />
    <br>
    <a href="/rango/add_category/">Add a New Category</a><br>
</body>
</html>